<div class="container border border-black">
  <div class="row justify-content-center mb-5">
    <h1 class="fs-03 mt-3 mb-3 text-black">Stupid Coaching</h1>
  </div>

  <div class="row border-start border-5 border-secondary mt-3 mb-3">
    <label id="dataAnswer" class="fs-4 "><%= @question %></label>
    <label id="dataFrom" class="fs-4 text-secondary fst-italic"><%= @from %></label>
  </div>

  <div class="row border-start border-5 border-secondary mt-3 mb-3">
    <label id="dataCAnswer" class="fs-4 "><%= @canswer %></label>
    <label id="dataCFrom" class="fs-4 text-secondary fst-italic"><%= @cfrom %></label>
  </div>

</div>
