<div class="container ">
  <div class="row justify-content-center">
    <div class="col-6 mt-3 mb-3 justify-content-center">
      <form action="/question/answer" data-turbo="false" method="get">
        <label for="ask" class="form-label">Ask your question to the coach</label>
        <input type="text" class="form-control" id="ask" name="thequestion" placeholder="Your question">
        <input type="submit" class="btn btn-primary mt-3 mb-3" value="Ask !">
      </form>
    </div>
  </div>
</div>
